<div class="row">
    <div class="col-xl-4">
        <sb-card
            ><div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "chart-area"]'></fa-icon> No of Questions Posted </div>
            <div class="card-body"><sb-charts-area></sb-charts-area></div
        ></sb-card>
    </div>
    <div class="col-xl-4">
        <sb-card
            ><div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "chart-bar"]'></fa-icon>No of Posts</div>
            <div class="card-body"><sb-charts-bar></sb-charts-bar></div
        ></sb-card>
    </div>
    <div class="col-xl-4">
        <sb-card
            ><div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "chart-bar"]'></fa-icon> Statistics </div>
            <div class="card-body"><sb-charts-pie></sb-charts-pie></div
        ></sb-card>
    </div>
</div>
