<div class="row justify-content-center">
    <div class="col-lg-12">
        <div class="card shadow-lg border-0 rounded-lg mt-2">
            <div class="card-header">
                <h3 class="text-center font-weight-dark my-1">Query Details</h3>
            </div>
            <div class="card-body">
                <form #form="ngForm"  (submit)="onSubmit(form)">
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-group ">
                                <h6 class="medium mb-1 ">Title *</h6>
                                         <!-- <small class="text-muted">Be specific and imagine you’re asking a question to another person</small> -->
                                <input class="form-control py-4 text-muted" name="title" #title="ngModel"
                                    [(ngModel)]="queryservice.formData.title" /></div>
                            <!-- <div *ngIf="title.invalid && title.touched" class="validation-error">This field is
                                required</div> -->
                        </div>

                    </div>


                    <!-- <div class="form-row" style="height: 50px;">
                        <h6 class="medium mb-1 text-muted">{{radioTitle}} *</h6>
                        <label *ngFor="let radiobutton of radioItems">
                        <input  style="width: 30px;" type="radio" name="category" (click)="model.category = radiobutton" [checked]="radiobutton === model.category" >{{radiobutton}}
                        </label>

                    </div> -->

                    <div class="form-group">
                        <h6 class="medium mb-1 ">Query</h6>
                        <angular-editor name="querydesc" #querydesc="ngModel" [(ngModel)]="queryservice.formData.querydesc"
                            [config]="config"></angular-editor>
                    </div>

                    <div class="form-group">
                        <h6 class="medium mb-1 ">Response</h6>
                        <angular-editor [config]="config"></angular-editor>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6 form-group mt-4 mb-0 ">
                            <a class="btn btn-primary " (click)="resetForm()">Reset</a>
                        </div>
                        <div class="col-md-6 form-group mt-4 mb-0">
                            <button type="submit" [disabled]="form.invalid"
                                class="btn btn-success btn-block"> Submit</button>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>



