<h5> Other Category Component Works </h5>

<form>
    <ul ngbnav="" class="nav-tabs px-4 px-lg-5 content-tabset justify-content-md-start justify-content-end nav" role="tablist">
        <li class="nav-item">
            <a href="#/components/alert/examples" ngbnavlink="" id="ngb-nav-0" role="tab" aria-controls="ngb-nav-0-panel" aria-selected="true" aria-disabled="false" class="nav-link active"> Tools </a>
        </li>
        <li class="nav-item">
            <a href="#/components/alert/api" ngbnavlink="" id="ngb-nav-1" role="tab" aria-selected="false" aria-disabled="false" class="nav-link"> Simulators </a>
        </li>
        <li class="nav-item navbar-light">
            <a href="#/components/alert/api" ngbnavlink="" id="ngb-nav-1" role="tab" aria-selected="false" aria-disabled="false" class="nav-link"> Others </a>
        </li>
    </ul>

    <!-- <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="total$ | async" [(page)]="countryService.page" [pageSize]="countryService.pageSize"></ngb-pagination
        ><select class="custom-select" style="width: auto;" name="pageSize" [(ngModel)]="countryService.pageSize"
            ><option [ngValue]="10">10 items per page</option
            ><option [ngValue]="30">30 items per page</option
            ><option [ngValue]="50">50 items per page</option></select
        >
    </div> -->
</form>

