<div class="row justify-content-center">
    <div class="col-lg-12">
        <div class="card shadow-lg border-0 rounded-lg mt-2">
            <div class="card-header">
                <h3 class="text-center font-weight-dark my-1">Search Results</h3>
                <!-- <h6 class="text-center font-weight-dark my-1">Below you will see everything we could locate for your search of <h5>"{{searchWord}}"</h5></h6> -->
                <small class="text-muted text-center">Below you will see everything we could locate for your search of "{{searchWord}}"</small>
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>
</div>
