<div class="card-header"><h3 class="text-center font-weight-dark my-0">Profile Summary </h3></div>
<div class="card-body">
       <div class="row">
           <div class="col-sm-12">
                    <div class="row justify-content-center">
                        <div class="col-sm-3">
                            <div class="text-center">
                                    <img src="../../../../assets/img/avatar.jpg" class="avatar rounded-circle img-thumbnail" style="width: 75%;" >

                            </div>
                            <hr>
                            <ul class="list-group">
                                <li class="text-muted-dark card-footer"><strong >Activity</strong> <i class="fa fa-dashboard fa-1x"></i></li>
                                <li class="list-group-item text-left"><span class="pull-left">Posts</span> <span class="float-lg-right badge badge-secondary">10</span></li>
                                <li class="list-group-item text-left"><span class="pull-left">Questions</span> <span class="float-lg-right badge badge-secondary">17</span></li>
                                <li class="list-group-item text-left"><span class="pull-left">Answers</span> <span class="float-lg-right badge badge-secondary">30</span></li>
                            </ul>
                       </div>
                        <div class="col-lg-9">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">

                                <div class="card-body">
                                    <form #ngForm="ngForm" name="">
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="form-group"><label class="medium mb-1 " >First Name </label>
                                                    <input class="form-control py-1 text-muted" name="firstName" #firstName="ngModel" [(ngModel)]="model.firstName" />
                                                    <div *ngIf="firstName.invalid && firstName.touched" class="validation-error">This field is required </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group"><label class="medium mb-1" >Last Name </label>
                                                    <input class="form-control py-1" name="lastName" #lastName="ngModel"
                                                        [(ngModel)]="model.lastName"  />
                                                    <div *ngIf="lastName.invalid && lastName.touched" class="validation-error">This field is required </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="form-group"><label class="medium mb-1" >Mobile No </label>
                                                    <input class="form-control py-1" name="mobile" #mobile="ngModel" [(ngModel)]="model.mobile" autocomplete="false" type="tel"/>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group"><label class="medium mb-1" >Team Name</label>
                                                    <input class="form-control py-1" name="teamname" #teamname="ngModel" [(ngModel)]="model.teamName" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="form-group"><label class="medium mb-1" >Desk No</label>
                                                    <input class="form-control py-1" name="deskno" #desnko="ngModel" [(ngModel)]="model.deskNo"  />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group"><label class="medium mb-1" >Email </label>
                                                    <input class="form-control py-1" name="email" #email="ngModel" [(ngModel)]="model.email" type="email"  />

                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-row ">
                                            <div class="col-md-6" >
                                                <div class="form-group">

                                                        <label class="medium mb-1" >SME Mark </label>
                                                            <div class="checkbox" >
                                                            <div>
                                                                    <input style="width: 30px;" type="checkbox" value="" name="techsme" #techsme="ngModel" [(ngModel)]="model.techSME"/><label>Technical</label>
                                                                    <input style="width: 30px;" type="checkbox" value="" name="domainsme" #domainsme="ngModel" [(ngModel)]="model.domainSME"/><label>Domain</label>
                                                                    <input style="width: 30px;" type="checkbox" value="" name="otherssme" #otherssme="ngModel" [(ngModel)]="model.othersSME"/><label>Others</label>
                                                                </div>
                                                            </div>
                                                    </div>
                                            </div>
                                            <div class="col-md-6 " >
                                                <label class="medium mb-1" >Skills </label>
                                                <div style="height: 80px;" class="overflow-auto" >
                                                    <ul id="mySkills" *ngIf="model.skills != null"  >
                                                            <li  *ngFor="let skill of model.skills">
                                                                {{ skill }}
                                                            </li>
                                                    </ul>
                                                    <label *ngIf="model.skills == null || model.skills.length==0">No skills Added</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-12 text-center">
                                                <div class="form-group "><button class="btn-lg btn-primary" routerLink ="/dashboard">Edit Profile</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
</div>








