<sb-layout-auth
><div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-dark my-0">Registration</h3></div>
                <div class="card-body">
                    <form #ngForm="ngForm" name="">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group"><label class="medium mb-1 " >First Name *</label>
                                    <input class="form-control py-1" name="firstName" #firstName="ngModel" [(ngModel)]="model.firstName" required/>
                                    <div *ngIf="firstName.invalid && firstName.touched" class="validation-error">This field is required </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group"><label class="medium mb-1" >Last Name *</label>
                                    <input class="form-control py-1" name="lastName" #lastName="ngModel"
                                        [(ngModel)]="model.lastName" required />
                                    <div *ngIf="lastName.invalid && lastName.touched" class="validation-error">This field is required </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group"><label class="medium mb-1" >Mobile No </label>
                                    <input class="form-control py-1" name="mobile" #mobile="ngModel" [(ngModel)]="model.mobile" autocomplete="false" type="tel"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group"><label class="medium mb-1" >Team Name</label>
                                    <input class="form-control py-1" name="teamname" #teamname="ngModel" [(ngModel)]="model.teamName" />
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group"><label class="medium mb-1" >Desk No</label>
                                    <input class="form-control py-1" name="deskno" #desnko="ngModel" [(ngModel)]="model.deskNo"  />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group"><label class="medium mb-1" >Email *</label>
                                    <input class="form-control py-1" name="email" #email="ngModel" [(ngModel)]="model.email" type="email"  required/>
                                    <div *ngIf="email.invalid && email.touched" class="validation-error">This field is required </div>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="false" class="form-row">
                            <div class="col-md-6">
                                <div class="form-group"><label class="medium mb-1" >Password *</label>
                                    <input class="form-control py-1" type="password" name="password" #password="ngModel" [(ngModel)]="model.password" required />
                                    <div *ngIf="password.invalid && password.touched" class="validation-error">This field is required </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group"><label class="medium mb-1" >Confirm Password *</label>
                                    <input class="form-control py-1" type="password" name="confirmPassword" #confirmPassword="ngModel" [(ngModel)]="model.confirmPassword" required/>
                                    <div *ngIf="confirmPassword.invalid && confirmPassword.touched" class="validation-error">This field is required </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="false" class="col-md-12">
                            <div class="form-group">
                                 <small class="text-muted ">* Password should be at least 6 characters long</small>
                            </div>
                        </div>

                        <div class="form-row ">
                            <div class="col-md-6" >
                                   <div class="form-group">

                                        <label class="medium mb-1" >SME Mark </label>
                                            <div class="checkbox" >
                                               <div>
                                                    <input style="width: 30px;" type="checkbox" value="" name="techsme" #techsme="ngModel" [(ngModel)]="model.techSME"/><label>Technical</label>
                                                    <input style="width: 30px;" type="checkbox" value="" name="domainsme" #domainsme="ngModel" [(ngModel)]="model.domainSME"/><label>Domain</label>
                                                    <input style="width: 30px;" type="checkbox" value="" name="otherssme" #otherssme="ngModel" [(ngModel)]="model.othersSME"/><label>Others</label>
                                                </div>
                                            </div>
                                    </div>
                            </div>
                            <div class="col-md-6 " >
                                <label class="medium mb-1" >Skills </label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" name="skill" #newSkill="ngModel"
                                        [(ngModel)]='skill'
                                        placeholder="Add your skills here (Ex: Java)" >
                                    <div class="input-group-append">
                                         <button class="btn btn-success" (click)="onAdd()">Add
                                             Skills</button>
                                    </div>
                                </div>
                                <div style="height: 80px;" class="overflow-auto" >
                                    <ul id="mySkills" *ngIf="model.skills != null"  >
                                            <li  *ngFor="let skill of model.skills">
                                                {{ skill }}
                                            </li>
                                    </ul>
                                    <label *ngIf="model.skills == null || model.skills.length==0">No skills Added</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12 form-group text-center">
                                <button class="btn-lg btn-primary"
                                (click)="onSubmit(ngForm)" [disabled]="!ngForm.valid || !ngForm.touched">Create Account</button>
                           </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <div class="medium"><a routerLink="/auth/login">Have an account? Go to login</a></div>
                </div>
            </div>
        </div>
    </div>
</div></sb-layout-auth>
