 <sb-layout-auth
    ><div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-dark my-0">Registration</h3></div>
                    <div class="card-body">
                        <form>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group"><label class="medium mb-1 " >First Name *</label><input class="form-control py-1"  /></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group"><label class="medium mb-1" >Last Name *</label><input class="form-control py-1"    /></div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group"><label class="medium mb-1" >Mobile No </label><input class="form-control py-1"  /></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group"><label class="medium mb-1" >Team Name</label><input class="form-control py-1"  /></div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group"><label class="medium mb-1" >Desk No</label><input class="form-control py-1"  /></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group"><label class="medium mb-1" >Email *</label><input class="form-control py-1"  /></div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group"><label class="medium mb-1" >Password *</label><input class="form-control py-1" type="password"  /></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group"><label class="medium mb-1" >Confirm Password *</label><input class="form-control py-1" type="password" /></div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-6" >
                                       <div class="form-group">
                                            <label class="medium mb-1" >SME Mark *</label>
                                                <div class="checkbox">
                                                   <div>
                                                        <input style="width: 30px;" type="checkbox" value=""><label>Technical</label>
                                                        <input style="width: 30px;" type="checkbox" value=""><label>Domain</label>
                                                        <input style="width: 30px;" type="checkbox" value=""><label>Others</label>
                                                    </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="col-md-6 " >
                                    <label class="medium mb-1" >Skills *</label>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" name="skillset"  placeholder="Add your skills here (Ex: Java)">
                                        <div class="input-group-append">
                                          <!-- <span class="input-group-text">@example.com</span> -->
                                          <button class="btn btn-success" (click) = "addSkills()">Add Skills</button>
                                        </div>
                                      </div>
                                    <!-- <input class="form-control py-1" name="skillset"  placeholder="Add your skills here (Ex: Java)" > -->
                                    <!-- <button class="btn btn-success float-right" (click) = "addSkills()">Add Skills</button> -->
                                        <ul id="myUL" >
                                            <li class="mylist">COBOL</li>
                                            <li class="mylist">JCL</li>
                                            <li class="mylist">Webservices</li>
                                            <li class="mylist">DB2</li>
                                        </ul>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-12 text-center">
                                    <div class="form-group "><a class="btn-lg btn-primary " routerLink="/dashboard">Create Account</a></div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <div class="medium"><a routerLink="/auth/login">Have an account? Go to login</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div></sb-layout-auth
>
