<div class="row justify-content-center">
    <div class="col-lg-12">
        <div class="card shadow-lg border-0 rounded-lg mt-2">
            <div class="card-header">
                <h3 class="text-center font-weight-dark my-1">Contact us</h3>
                <small class="text-muted text-center">Do you have any questions? Please do not hesitate to contact us directly. Our
                    team will come back to you within a matter of hours to help you.</small>
            </div>
            <div class="card-body">
                <form #form="ngForm" (submit)="onSubmit(form)">
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-group ">
                                <h6 class="medium mb-1 ">Subject *</h6>
                                <input class="form-control py-1" name="subject" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <h6 class="medium mb-1 ">Your Message *</h6>
                        <textarea type="text" id="message" name="message" rows="5" class="form-control md-textarea"
                            placeholder="Write something.."></textarea>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6 form-group mt-4 mb-4">
                            <button type="submit" [disabled]="form.invalid" class="btn btn-success float-right">
                                Submit</button>
                        </div>
                    </div>
                </form>
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-4">
                        <b> Phone Number </b>
                        <p style="margin-bottom:15px;" align="center">+91 99625 78940</p>
                        <b> Email </b>
                        <p style="margin-bottom:15px;" align="center">codeblitz.smeadviser@lntinfotech.com</p>
                    </div>
                    <div class="col-md-4">
                        <p style="margin-bottom:15px;" align="center"><b>Larsen & Toubro Infotech Limited </b>
                            <br />
                            LTI Building : Block 4, DLF IT Park, SEZ Campus,<br />
                            1/124, Shivaji Gardens, Mount Poonamalle High Road,<br />
                            Manapakkam, Chennai, Tamil Nadu 600089</p>
                    </div>
                    <div class="col-md-4">
                        <b> Hours Of Operation </b>
                        <p style="margin-bottom:15px;" align="center"> 9 AM to 5 PM IST</p>
                    </div>
                </div>
                <div class="row">
                    <br/>
                </div>
                <h5 style="text-align:center"> Our Team </h5>
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                        <img src="../../../../assets/img/Yasmin_Pic.jpg" style="width:100%">
                        <div class="container">
                            <h5>Yasmin Thameemulanzari</h5>
                            <h6>Technical Architect</h6>
                            <p>yasmin.thameemulanzari@lntinfotech.com</p>
                            <p>https://www.linkedin.com/in/yasminthameemulanzari/</p>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                        <img src="../../../../assets/img/Yasmin_Pic.jpg" style="width:100%">
                        <div class="container">
                            <h5>Yasmin Thameemulanzari</h5>
                            <h6>Technical Architect</h6>
                            <p>yasmin.thameemulanzari@lntinfotech.com</p>
                            <p>https://www.linkedin.com/in/yasminthameemulanzari/</p>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                        <img src="../../../../assets/img/Yasmin_Pic.jpg" style="width:100%">
                        <div class="container">
                            <h5>Yasmin Thameemulanzari</h5>
                            <h6>Technical Architect</h6>
                            <p>yasmin.thameemulanzari@lntinfotech.com</p>
                            <p>https://www.linkedin.com/in/yasminthameemulanzari/</p>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                        <img src="../../../../assets/img/Yasmin_Pic.jpg" style="width:100%">
                        <div class="container">
                            <h5>Yasmin Thameemulanzari</h5>
                            <h6>Technical Architect</h6>
                            <p>yasmin.thameemulanzari@lntinfotech.com</p>
                            <p>https://www.linkedin.com/in/yasminthameemulanzari/</p>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-3">
                            <div class="card">
                            <img src="../../../../assets/img/Yasmin_Pic.jpg" style="width:100%">
                            <div class="container">
                                <h5>Yasmin Thameemulanzari</h5>
                                <h6>Technical Architect</h6>
                                <p>yasmin.thameemulanzari@lntinfotech.com</p>
                                <p>https://www.linkedin.com/in/yasminthameemulanzari/</p>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                            <img src="../../../../assets/img/Yasmin_Pic.jpg" style="width:100%">
                            <div class="container">
                                <h5>Yasmin Thameemulanzari</h5>
                                <h6>Technical Architect</h6>
                                <p>yasmin.thameemulanzari@lntinfotech.com</p>
                                <p>https://www.linkedin.com/in/yasminthameemulanzari/</p>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                            <img src="../../../../assets/img/Yasmin_Pic.jpg" style="width:100%">
                            <div class="container">
                                <h5>Yasmin Thameemulanzari</h5>
                                <h6>Technical Architect</h6>
                                <p>yasmin.thameemulanzari@lntinfotech.com</p>
                                <p>https://www.linkedin.com/in/yasminthameemulanzari/</p>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                            <img src="../../../../assets/img/Yasmin_Pic.jpg" style="width:100%">
                            <div class="container">
                                <h5>Yasmin Thameemulanzari</h5>
                                <h6>Technical Architect</h6>
                                <p>yasmin.thameemulanzari@lntinfotech.com</p>
                                <p>https://www.linkedin.com/in/yasminthameemulanzari/</p>
                            </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

</div>
