<ol class="breadcrumb mb-12">

                <div class="container">
                    <br/>
                    <div class="row justify-center-center">
                        <br/>
                                        <div class="col-12 col-md-10 col-lg-8">
                                            <form class="card card-sm">
                                                <div class="card-body row no-gutters align-items-center">

                                                    <div class="col-auto">
                                                        <i class="fas fa-search h4 text-body"></i>
                                                    </div>
                                                    <!--end of col-->
                                                    <div class="col">
                                                        <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search topics or keywords">
                                                    </div>
                                                    <!--end of col-->
                                                    <div class="col-auto">
                                                        <button class="btn btn-lg btn-success" type="submit">Search</button>
                                                    </div>
                                                    <!--end of col-->
                                                </div>
                                            </form>
                                        </div>
                                        <div class="card-body row no-gutters align-items-center">
                                            <div class="col-6">
                                                <button class="btn btn-primary btn-lg " type="submit" routerLink="/addnewquery" > New Query </button>
                                            </div>
                                            <div class="col-6">
                                                <button class="btn btn-primary btn-lg "  type="submit" routerLink="/addnewpost" > New Post</button>
                                            </div>
                                        </div>
                                        <br/>
                    </div>

                    <br/>

                </div>
</ol>





