sb-layout-dashboard
    sb-dashboard-head(title='Tables', [hideBreadcrumbs]='false')
    sb-card
        .card-body.
            Add new Post
    sb-card
        .card-header

        .card-body
            sg-addnewpost ([pageSize]='10')
