<div class="row justify-content-center">
    <div class="col-lg-12">
        <div class="card shadow-lg border-0 rounded-lg mt-2">
            <div class="card-header">
                <h3 class="text-center font-weight-dark my-1">Add new Query</h3>
            </div>
            <div class="card-body">
                <form #form="ngForm"  (submit)="onSubmit(form)">
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-group ">
                                <h6 class="medium mb-1 ">Title *</h6>
                                         <small class="text-muted">Be specific and imagine you’re asking a question to another person</small>
                                <input class="form-control py-4" name="title" #title="ngModel"
                                    [(ngModel)]="queryservice.formData.title" placeholder="Enter query title here.."
                                    required /></div>
                            <div *ngIf="title.invalid && title.touched" class="validation-error">This field is
                                required</div>
                        </div>

                    </div>


                    <!-- <div class="form-row">
                        <div class="form-group col-md-12" name="category" #category="ngModel"
                            [(ngModel)]="postservice.formData.category" >
                            <div ngbDropdown class="d-inline-block">
                                <a class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>Category</a>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                                    <a ngbDropdownItem>Technical</a>
                                    <a ngbDropdownItem>Domain</a>
                                    <a ngbDropdownItem>Others</a>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="category.invalid && category.touched" class="validation-error">This field is
                            required</div>
                    </div> -->

                    <div class="form-group">
                        <h6 class="medium mb-1 ">Body *</h6>
                                 <small class="text-muted">Include all the information someone would need to answer your question</small>
                        <angular-editor name="querydesc" #querydesc="ngModel" [(ngModel)]="queryservice.formData.querydesc"
                            [config]="config"></angular-editor>
                        <div *ngIf="querydesc.invalid && querydesc.touched" class="validation-error">This field is
                            required</div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6 form-group mt-4 mb-0 ">
                            <a class="btn btn-primary " (click)="resetForm()">Reset</a>
                        </div>
                        <div class="col-md-6 form-group mt-4 mb-0">
                            <button type="submit" [disabled]="form.invalid"
                                class="btn btn-success btn-block"> Submit</button>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>



