<h1>Query</h1>
<ngb-accordion #acc="ngbAccordion">
    <ngb-panel *ngFor="let q of queries | async; let indexOfElement = index;">
        <ng-template ngbPanelHeader>
            <a [routerLink]="['/contribution/query', q.id]" class="btn btn-link" ngbPanelToggle>
                <span>&#9733; <b>Query {{indexOfElement + 1}}</b></span>
            </a>


        </ng-template>

        <ng-template ngbPanelContent>
            <div [innerHTML]="q.desc"></div>
        </ng-template>
    </ngb-panel>
</ngb-accordion>
