<h5> Query List Component Works </h5>


<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#">Today Queries</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Older</a>
        </li>
        <li class="nav-item">
            <a href="#" class="btn btn-primary" routerLink="/addnewquery">Create New Query</a>
        </li>
      </ul>
    </div>
    <!-- <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div> -->
  </div>

  <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="total$ | async" [(page)]="countryService.page" [pageSize]="countryService.pageSize"></ngb-pagination
        ><select class="custom-select" style="width: auto;" name="pageSize" [(ngModel)]="countryService.pageSize"
            ><option [ngValue]="10">10 items per page</option
            ><option [ngValue]="30">30 items per page</option
            ><option [ngValue]="50">50 items per page</option></select
        >
    </div>









