
<h1>querys</h1>
<ngb-accordion #acc="ngbAccordion">
    <ngb-panel *ngFor="let query of queries | async; let indexOfElement = index;">
        <ng-template ngbPanelHeader>
            <a [routerLink]="['/contribution/query',query.id]" routerLinkActive="router-link-active" ss="btn btn-link" ngbPanelToggle>
                <span>&#9733; <b> {{query.title}}</b></span>
            </a>

            <button type="button" (click)="setAsFAQ(query)" *ngIf="query.isFAQ == null || !query.isFAQ"
                class="btn btn-sm btn-outline-info float-lg-right"
                title="Add to Frequently Asked Questions">&#43;</button>
            <div class="float-lg-right">
                <span class="float-lg-right" *ngIf="query.isFAQ != null && query.isFAQ"
                    class="badge badge-secondary">FAQ</span>
            </div>
        </ng-template>

        <ng-template ngbPanelContent>
            <div [innerHTML]="query.querydesc"></div>
        </ng-template>
    </ngb-panel>
</ngb-accordion>
<div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="10" page="1" [pageSize]="10"> </ngb-pagination>
    <select class="custom-select" style="width: auto;" name="pageSize">
        <option [ngValue]="10" [selected]="true">10 items per page</option>
        <option [ngValue]="30">30 items per page</option>
        <option [ngValue]="50">50 items per page</option>
    </select>
</div>
