<div class="row">
    <div class="col-sm-4">
        <sb-card-view-details link="/contribution/query" background="bg-primary"><div class="card-body">Today Queries</div></sb-card-view-details>
    </div>
    <div class="col-sm-4">
        <sb-card-view-details link="/contribution/faq" background="bg-warning"><div class="card-body">FAQ List</div></sb-card-view-details>
    </div>
    <div class="col-sm-4">
        <sb-card-view-details link="/contribution/post" background="bg-success"><div class="card-body">Today Posts</div></sb-card-view-details>
    </div>
</div>
