<div class="row">
    <div class="col-sm-4">
        <sb-card-view-details link="/contribution/query" background="bg-primary"><div class="card-body">Today's Queries</div></sb-card-view-details>
    </div>
    <div class="col-sm-4">
        <sb-card-view-details link="/dashboard" background="bg-warning"><div class="card-body">Most Viewed</div></sb-card-view-details>
    </div>
    <div class="col-sm-4">
        <sb-card-view-details link="/contribution/post" background="bg-success"><div class="card-body">Today's Posts</div></sb-card-view-details>
    </div>
</div>
